---
import { getEntry, render } from 'astro:content'

const contactLanding = await getEntry("contact", "contact_info")
if (!contactLanding) {
  throw new Error('Could not find contact\'s "contact_info" text')
}

const { Content } = await render(contactLanding)

import { myInfo } from "src/data/myInfo"
const { email, phone, onlineTreating, officeAddress } = myInfo

const title: string = "Virtualment o Presencial"
---

<h2
  class="w-100 text-center mt-4"
  id="contact-info-title"
  data-aos="fade-down"
  data-aos-duration="1500"
>
  {title}
</h2>
<section
  class="container-fluid d-flex flex-column flex-lg-row my-4 over-hidden"
  aria-labelledby="contact-info-title"
>
  <div class="container col-12 col-lg-6 px-lg-4 my-3">
    <ul
      class="contact-info-list"
      aria-label="Dades de contacte"
      data-aos="fade-right"
      data-aos-duration="1250"
    >
      <li>
        <i class="fa-solid fa-envelope" aria-hidden="true"></i>
        Correu electrònic
        <p>{email}</p>
      </li>
      <li>
        <i class="fa-solid fa-phone" aria-hidden="true"></i>
        Telèfon
        <p>{phone}</p>
      </li>
      <li>
        <i class="fa-solid fa-globe" aria-hidden="true"></i>
        Sessió Online
        <p>{onlineTreating}</p>
      </li>
      <li>
        <i class="fa-solid fa-couch" aria-hidden="true"></i>
        Presencial
        <p>{officeAddress}</p>
      </li>
    </ul>
  </div>
  <article
    class="container col-12 col-lg-6 px-lg-4 my-3"
    aria-label="Informació addicional de contacte"
    data-aos="fade-left"
    data-aos-duration="1250"
  >
    <Content />
  </article>
</section>