---
import { getEntry, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const testimonialsLanding: CollectionEntry<"testimonials"> | undefined = await getEntry("testimonials", "third_review")
if (!testimonialsLanding) {
  throw new Error('Could not find testimonials\' "third_review" text')
}

const { Content } = await render(testimonialsLanding)

import { reviews } from "src/data/reviews"
const { thirdReviewer } = reviews
---

<article
  class="container-fluid justify-content-center align-items-center row px-sm-2 py-4 p-xl-4 over-x"
  id="third-rev"
  aria-label={`${thirdReviewer.fullName}'s testimonial`}
>
  <div
    class="intro-article col-sm-10 col-md-8 col-lg-9 col-xl-8"
    data-aos="fade-right"
    data-aos-duration="1250"
  >
    <Content />
  </div>
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-3">
    <figure class="figure" data-aos="fade-left" data-aos-duration="1250">
      <img
        src="/images/rev-img-3.webp"
        loading="lazy"
        class="figure-img img-fluid rounded"
        alt={`${thirdReviewer.fullName} smiling`}
        title={thirdReviewer.fullName}
        aria-labelledby="third-reviewer-caption"
        data-aos="flip-left"
        data-aos-duration="1250"
      >
      <figcaption class="text-center" id="third-reviewer-caption">
        <span class="rev-name">
          {thirdReviewer.fullName}
        </span> <br>
        <span class="rev-job">
          {thirdReviewer.profession}
        </span>
      </figcaption>
    </figure>
  </div>
</div>